[submodule "ui/ext/requirejs"]
	path = ui/ext/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "ui/ext/reqwest"]
	path = ui/ext/reqwest
	url = git://github.com/ded/reqwest.git
[submodule "ui/ext/pathjs"]
	path = ui/ext/pathjs
	url = git://github.com/mtrpcic/pathjs.git
[submodule "ui/ext/classyjs"]
	path = ui/ext/classyjs
	url = git://github.com/foo123/classy.js.git
[submodule "ui/ext/q"]
	path = ui/ext/q
	url = git://github.com/kriskowal/q.git
