
/* Reset */

h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Top level */

body {
  margin-left: 20px;
  margin-right: 20px;
}

#builds, #numbers, #detail, #templates {
  display: none;
}

.columns {
  /* empty */
}

.column {
  float: left;
  padding: 0 0 0 20px;
}

.column:first-child {
  padding-left: 0;
}

#builds, #numbers {
  width: 200px;
  list-style-type: none;
}

.button-list {
  -webkit-user-select: none;
}

.button-list > li {
  margin: 0;
  padding: 0;
}

.button-list > li > input {
  display: none;
}

.button-list > li > input:checked + label {
  background-color: #BBB;
}

.button-list > li > label {
  display: inline-block;
  width: 180px;
  background: none;
  border: none;
  font-size: 12pt;
  padding: 10px;
}

#detail {
  width: 400px;
  font-size: 12pt;
}

