
/* Reset */

h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Top level */

body {
  margin-left: 20px;
  margin-right: 20px;
}

.columns {
  /* empty */
}

.column {
  float: left;
  padding: 0 0 0 20px;
}

.column:first-child {
  padding-left: 0;
}

#parent-for-builds, #parent-for-runs {
  width: 200px;
  list-style-type: none;
}

.list {
  -webkit-user-select: none;
  list-style-type: none;
}

.list > li {
  margin: 0;
  padding: 0;
}

.radio > input {
  display: none;
}

.radio.status-pass > input + label {
  background-color: #74E868;
}

.radio.status-fail > input + label {
  background-color: #FD7279;
}

.radio > input:checked + label {
  color: #FFF;
  font-weight: bold;
}

.radio > label {
  display: inline-block;
  width: 180px;
  background: none;
  border: none;
  font-size: 12pt;
  padding: 10px;
}

.radio > label > .time {
  font-size: 10pt;
  font-style: italic;
  margin-left: 20px;
}

#parent-for-detail {
  width: 400px;
  font-size: 12pt;
}

